.course-slider {
	margin-top: 3.2vw;
	padding: 0 1.8vw 0 2vw;
	width: 100%;
	aspect-ratio: 541 / 110;
	display: flex;
	flex-direction: column;
	height: fit-content;
	transition: 0.4s;

	overflow: visible;

	&__heading {
		font-family: 'Fixel';
		font-weight: 700;
		font-size: 2.3vw;
		line-height: 120%;
		color: var(--white);

		span {
			font-size: 2.3vw;
			color: var(--darker-green);
		}
	}

	&__slider {
		margin-top: 2vw;
		width: 100%;
	}

	.swiper {
		overflow: visible;
	}
}
