@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/GothamBook.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Fixel';
	src: url('../assets/fonts/FixelText-Regular.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}
