.progress-bar {
	width: 100%;
	padding: 0 2.604vw 3.906vw 2.604vw; /* 0 50px 75px 50px */
	display: flex;
	flex-direction: row;
	gap: 1.25vw; /* 24px */
	align-items: center;
	&__time {
		font-weight: 500;
		font-size: 1.5vw;
		line-height: 120%;
		color: #fff;
	}

	&__progress-bar {
		width: 100%;
		height: 0.26vw; /* 5px */
		background-color: var(--middle-grey);
		position: relative;
		cursor: pointer;
		transition: 0.3s;

		&.focused {
			height: 0.6vw; /* 5px */
		}
	}

	&__progress-bar-filled {
		height: 100%;
		background-color: var(--light-green);
		position: absolute;
		top: 0;
		left: 0;
	}
}
