.scroll-container {
	width: 100%;
	height: 5000px ;
	display: flex;
	justify-content: center;
	overflow: visible;
}

.scene {
	width: 1000px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: visible;
}

.phone {
	position: absolute;
	left: 0;
	width: 125px;
	height: 250px;
	transition: visibility 0s;
}

.phone-1 {
	visibility: visible;
	z-index: 1;
}

.phone-2,
.phone-3 {
	visibility: hidden;
	z-index: 2;
}
