.video-page {
	margin-bottom: -4vw; /* Remove margin to ensure it starts from the top */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh; /* Set height to fill the viewport */
	overflow: hidden; /* Ensure no overflow */

	&__preview-image {
		position: absolute;
		object-fit:cover;
		width: 100%;
		height: 100%;
		z-index: 200;
		border-radius: 4vw;
	}
}

.video-page__player-wrapper {
	width: 100vw; /* Reset width */
	height: 100vh; /* Set height to fill the viewport */
	position: relative; /* Ensure it fills its parent */
}

.player {
	video {
		object-fit: cover !important;
	}
}
