:root {
	--white: #fff;
	--light-grey--08: rgba(255, 255, 255, 0.5);
	--light-grey--03: rgba(255, 255, 255, 0.3);
	--grey-shadow-02: rgba(128, 128, 128, 0.2);
	--light-green: rgba(209, 251, 99, 1);
	--darker-green: rgb(208, 249, 98, 1);
	--light-grey: rgb(43, 48, 53);
	--dark-grey: rgb(50, 56, 62);
	--middle-grey: rgb(96, 104, 114);
	--middle-grey: rgba(104, 113, 131, 0.5);
	--dark-text: rgba(57, 41, 41, 1);
	--black: #000;
	--black-08: rgba(0, 0, 0, 0.8);
	--red: rgb(255, 65, 53);
	--bodyBG: rgb(24, 26, 30);
}
